<!DOCTYPE html>
<html lang="it">

{% include 'user/head.html' %}

<body>
    <div style="display: flex; justify-content: center; align-items: center; height: inherit;">
        <div style="text-align: center; max-width: 600px; padding: 20px;"><img loading="lazy" 
                src="https://img.icons8.com/external-vectorslab-outline-color-vectorslab/53/external-No-Server-ai-security-and-security-vectorslab-outline-color-vectorslab.png" alt="internal server Icon"
                style="width: 100px; height: auto; margin: auto;">
            <h2 style="font-size: 2.5rem; color: red; margin-bottom: 1rem;">Errore interno del server!</h2>
            <p style="font-size: 1.5rem; color: rgb(51, 51, 51); margin-bottom: 1.5rem;">Sorry, an error occurred with the server.</p>
            <span> <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> <a href="/"  aria-label="go to homepage" style="text-decoration: underline; color: cornflowerblue;">Return Home</a></span>
        </div>
    </div>
</body>

</html>