<!DOCTYPE html>
<html lang="it">
{% include 'user/head.html' %}
<!-- Bootstrap Css -->
<link href="../../static/other/css/bootstrap.min.css" aria-label="stylesheet" id="bootstrap-style" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link href="../../static/other/css/icons.min.css" aria-label="icons url" rel="stylesheet" type="text/css" />
<!-- App Css-->
<link href="../../static/other/css/app.min.css" aria-label="app's css stylesheet" id="app-style" rel="stylesheet" type="text/css" />

<body>


    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Frequently Asked Questions</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="" ><a href="/" aria-label="go to homepage"  style="text-decoration: underline !important;">Home</a></li> &nbsp; >>
                                <li class=""><a href="/terms-conditions" aria-label="go to terms and conditions" style="color: blueviolet;">&nbsp;Find out more</a></li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row justify-content-center mt-3">
                                <div class="col-xl-5 col-lg-8">
                                    <div class="text-center">
                                        <h5>Can't find what you're looking for?</h5>
                                        <p class="text-muted">Try searching again or explore our categories to refine
                                            your search. Still no luck? Reach out to us directly for assistance—we’re
                                            here to help!</p>
                                        <div>
                                            <button type="button"
                                                class="btn btn-primary mt-2 me-2 waves-effect waves-light"><a
                                                    href="mailto:support@liziestyle.com"
                                                    style="text-decoration: none;">E-mail
                                                    Us</a></button>
                                        </div>

                                        <!-- <div class="row justify-content-center">
                                            <div class="col-xl-10">
                                                <form class="app-search d-none d-lg-block mt-4">
                                                    <div class="position-relative">
                                                        <input type="text" class="form-control" placeholder="Search...">
                                                        <button class="btn btn-primary" type="button"><i class="bx bx-search-alt align-middle"></i></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                <!-- end col -->
                            </div>
                            <!-- end row -->

                            <div class="row mt-5">
                                <div class="col-xl-4 col-sm-6">
                                    <div class="card">
                                        <div class="card-body overflow-hidden position-relative">
                                            <div>
                                                <i class="bx bx-help-circle widget-box-1-icon text-primary"></i>
                                            </div>
                                            <div class="faq-count">
                                                <h5 class="text-primary">01.</h5>
                                            </div>
                                            <h5 class="mt-3">How does Liziestyle work?</h5>
                                            <p class="text-muted mt-3 mb-0">
                                                We are an outstanding e-commerce platform that sells all styles of fashion
goods and more to customers and deliver on time until satisfaction.
                                            </p>
                                        </div>
                                        <!-- end card body -->
                                    </div>
                                    <!-- end card -->
                                </div>
                                <!-- end col -->
                                <div class="col-xl-4 col-sm-6">
                                    <div class="card">
                                        <div class="card-body overflow-hidden position-relative">
                                            <div>
                                                <i class="bx bx-help-circle widget-box-1-icon text-primary"></i>
                                            </div>
                                            <div class="faq-count">
                                                <h5 class="text-primary">02.</h5>
                                            </div>
                                            <h5 class="mt-3">Can I cancel the purchased goods?</h5>
                                            <p class="text-muted mt-3 mb-0">
                                                When you place an order, it is pending. You can cancel within that
time frame but after you pay for the order, it is automatic and your
orders are already being processed. Refunds are only given for defective products
acceptable, please check before payments.</p>
                                        </div>
                                        <!-- end card body -->
                                    </div>
                                    <!-- end card -->
                                </div>
                                <!-- end col -->

                                <div class="col-xl-4 col-sm-6">
                                    <div class="card">
                                        <div class="card-body overflow-hidden position-relative">
                                            <div>
                                                <i class="bx bx-help-circle widget-box-1-icon text-primary"></i>
                                            </div>
                                            <div class="faq-count">
                                                <h5 class="text-primary">03.</h5>
                                            </div>
                                            <h5 class="mt-3">What payment method do you accept?</h5>
                                            <p class="text-muted mt-3 mb-0">We partner with Stripe for our
                                                payments and to give you access to all available payment methods
                                                in Europe, at checkout select the option you prefer.</p>
                                        </div>
                                        <!-- end card body -->
                                    </div>
                                    <!-- end card -->
                                </div>
                                <!-- end col -->

                                <div class="col-xl-4 col-sm-6">
                                    <div class="card">
                                        <div class="card-body overflow-hidden position-relative">
                                            <div>
                                                <i class="bx bx-help-circle widget-box-1-icon text-primary"></i>
                                            </div>
                                            <div class="faq-count">
                                                <h5 class="text-primary">04.</h5>
                                            </div>
                                            <h5 class="mt-3">How can I track my order??</h5>
                                            <p class="text-muted mt-3 mb-0">To track your orders, go to your account in orders
                                                and after the order table summary, click on the tracking number that was emailed to you.
                                                See tracking information below.
                                                and updates.</p>
                                        </div>
                                        <!-- end card body -->
                                    </div>
                                    <!-- end card -->
                                </div>
                                <!-- end col -->

                                <div class="col-xl-4 col-sm-6">
                                    <div class="card">
                                        <div class="card-body overflow-hidden position-relative">
                                            <div>
                                                <i class="bx bx-help-circle widget-box-1-icon text-primary"></i>
                                            </div>
                                            <div class="faq-count">
                                                <h5 class="text-primary">05.</h5>
                                            </div>
                                            <h5 class="mt-3">
                                                Contact Lizie Support for assistance</h5>
                                            <p class="text-muted mt-3 mb-0">On our contact page, use any of the
                                                methods to reach out. We recommend email as we respond faster and within
                                                24 hours of the issue being encountered.</p>
                                        </div>
                                        <!-- end card body -->
                                    </div>
                                    <!-- end card -->
                                </div>
                                <!-- end col -->

                                <div class="col-xl-4 col-sm-6">
                                    <div class="card">
                                        <div class="card-body overflow-hidden position-relative">
                                            <div>
                                                <i class="bx bx-help-circle widget-box-1-icon text-primary"></i>
                                            </div>
                                            <div class="faq-count">
                                                <h5 class="text-primary">06.</h5>
                                            </div>
                                            <h5 class="mt-3">How long does it take to receive my order/Delivery times?
                                            </h5>
                                            <p class="text-muted mt-3 mb-0">Our delivery time is 5-12 days, if you
                                                do not receive your order within the end of 12 days, please contact
                                                support for help, we apologize for the inconvenience.</p>
                                        </div>
                                        <!-- end card body -->
                                    </div>
                                    <!-- end card -->
                                </div>


                                <div class="col-xl-4 col-sm-6">
                                    <div class="card">
                                        <div class="card-body overflow-hidden position-relative">
                                            <div>
                                                <i class="bx bx-help-circle widget-box-1-icon text-primary"></i>
                                            </div>
                                            <div class="faq-count">
                                                <h5 class="text-primary">07.</h5>
                                            </div>
                                            <h5 class="mt-3">Where we provide our service?</h5>
                                            <p class="text-muted mt-3 mb-0">Liziestyle offers classic fashion items on
                                                standard quality, and we offer our services worldwide.</p>
                                        </div>
                                        <!-- end card body -->
                                    </div>
                                    <!-- end card -->
                                </div>
                                <!-- end col -->
                            </div>
                            <!-- end row -->
                        </div>
                        <!-- end  card body -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->

        </div> <!-- container-fluid -->
    </div>

    <!-- Latest compiled and minified JavaScript -->
     
</body>

</html>