{% include 'user/head.html' %}


<div className="min-h-screen container mx-auto px-4 my-6">

    <div className="bg-white my-12">
        <div className="mb-8 lg:mb-12 last:mb-0">
            <h2 className="text-xl xl:text-2xl xl:leading-7 font-semibold mb-2 lg:mb-4">
                Our Privacy Policy [Last Updated: January 5, 2024]
            </h2>
            <div className="font-sans leading-7">
                <p>
                    At Lizie Ecommerce, one of our main priorities is the privacy of our visitors. This
                    Privacy Policy document contains types of information that is
                    collected and recorded by <span style="color: blue;">LizieStyle</span> and how we use it.
                    If you have additional questions or require more information
                    about our Privacy Policy, please feel free to contact us <a
                    href="mailto:support@liziestyle.com" aria-label="mail our support service provider">here</a>. We may
                    receive additional information about you such as your name,
                    email address, phone number, the contents of messages and/or
                    attachments you may send us, and any other information you may
                    choose to provide. When you register for an Account, we may ask you
                    for your contact information, including items such as your name,
                    company name, address, email address, and phone number.
                </p>
            </div>
        </div>
        <div className="mb-8 lg:mb-12 last:mb-0">
            <h2 className="text-xl xl:text-2xl xl:leading-7 font-semibold mb-2 lg:mb-4">
                Consent
            </h2>
            <div className="font-sans leading-7">
                <p>
                    By using our website, you consent to our Privacy Policy
                    and agree to its <a href="/terms-conditions" aria-label="read our terms and conditions">terms and conditions</a>.
                </p>
            </div>
        </div>
        <div className="mb-8 lg:mb-12 last:mb-0">
            <h2 className="text-xl xl:text-2xl xl:leading-7 font-semibold mb-2 lg:mb-4">
                Information we collect
            </h2>
            <div className="font-sans leading-7">
                <p>
                    The personal information you are asked to provide and the
                    we will make clear the reasons why you are asked to provide it
                    at the point we ask you to provide your personal
                    information. If you contact us directly, we may receive
                    additional information about you that you may choose to provide.
                    When you register for an Account, we may ask you for your
                    contact information, including items such as your name, company name,
                    address, email address, and telephone number.
                </p>
                <p>
                    Please note that the Company will not ask you to share any
                    sensitive data or information via email or phone. If you
                    receive such a request via email or phone, please do not
                    respond/disclose any sensitive data or information.
                </p>
            </div>
        </div>
        <div className="mb-8 lg:mb-12 last:mb-0">
            <h2 className="text-xl xl:text-2xl xl:leading-7 font-semibold mb-2 lg:mb-4">
                How we use your information
            </h2>
            <div className="font-sans leading-7">
                <p>
                    We use the information we collect in a variety of ways, including:
                </p>

                <ol>
                    <li>
                        Provide, manage and maintain our website, to provide you
                        with updates and other information.
                        </li>
                        <li>
                        Improve, personalize and expand our website and other
                        website-related information.
                        </li>
                        <li>
                        Understand and analyze how you use our website, to provide you
                        with updates and other information related to the
                        website.
                        </li>
                        <li>
                            Develop new products, services, features and
                            functionality and other information related to the website.
                            </li>
                            <li>
                            Communicate with you, either directly or through one of our
                            partners, including for customer service, to provide you with
                            updates.
                            </li>
                            <li>
                            Send you emails. To provide you with updates and other
                            information related to the website and for marketing and
                            promotional purposes
                            </li>
                            <li>
                            Find and prevent fraud. To provide you with updates and
                            other information related to the website and for marketing and
                            promotional purposes
                            </li>
                </ol>
                <bold style="color: blue;"> We do not use your information without your prior consent. When you
                    provide us with access to your Google information, it is used only to create accounts and manage
                    logins. We do not edit, modify or alter your data in any way.
                </bold>
            </div>
        </div>
        <div className="mb-8 lg:mb-12 last:mb-0">
            <h2 className="text-xl xl:text-2xl xl:leading-7 font-semibold mb-2 lg:mb-4">
                Log Files
            </h2>
            <div className="font-sans leading-7">
                <p>
                    LizieStyle follows a standard procedure of using log
                    files. These files log visitors when they visit websites. All
                    hosting companies do this and a part of hosting. The information
                    collected by log files include Internet Protocol (IP) addresses,
                    browser type, Internet Service Provider (ISP), date and time stamp,
                    referring/exit pages, and possibly the number of clicks.
                    These are not linked to any personally
                    identifiable information. The purpose of the information is for analyzing
                    trends, site administration, tracking users' movements on the
                    website, and gathering demographic information.
                </p>
            </div>
        </div>
        <div className="mb-8 lg:mb-12 last:mb-0">
            <h2 className="text-xl xl:text-2xl xl:leading-7 font-semibold mb-2 lg:mb-4">
                Advertising Partner Privacy Policies
            </h2>
            <div className="font-sans leading-7">
                <p>
                    You can consult this list to find the Privacy Policy of each of
                    LizieStyle's advertising partners. Third-party ad
                    servers or ad networks use technologies such as cookies,
                    JavaScript, or Web Beacons used in their respective
                    advertisements and links that appear on LizieStyle, which are
                    sent directly to your browser. They automatically receive
                    your IP address when this occurs. These technologies are used
                    to measure the effectiveness of their advertising campaigns and/or
                    to personalize the advertising content that you see on the websites
                    you visit. Please note that LizieStyle has no access to or
                    control over these cookies used by third-party
                    advertisers.
                    </p>
            </div>
        </div>
        <div className="mb-8 lg:mb-12 last:mb-0">
            <h2 className="text-xl xl:text-2xl xl:leading-7 font-semibold mb-2 lg:mb-4">
                Third Party Privacy Policies
            </h2>
            <div className="font-sans leading-7">
                <p>
                    Third-party ad servers or ad networks uses technologies like
                    cookies, JavaScript, or Web Beacons that are used in their
                    respective advertisements and links that appear on LizieStyle,
                    which are sent directly to your browser. They
                    automatically receive your IP address when this occurs. These
                    technologies are used to measure the effectiveness of their
                    advertising campaigns and/or to personalize the advertising
                    content that you see on websites that you visit. Please note that
                    LizieStyle has no access to or control over these cookies
                    that are used by third-party advertisers.
                    </p>
                    <p>
                    LizieStyle's Privacy Policy does not apply to other
                    advertisers or websites. Therefore, we are advising you to consult
                    the respective Privacy Policies of these third-party ad servers
                    for more detailed information. It may include their practices
                    and instructions about how to opt-out of certain options. You
                    may choose to disable cookies through your individual browser
                    options. For more detailed information about cookies
                    management with specific web browsers, you can find at
                    the browsers' respective websites.
                </p>
            </div>
        </div>
        <div className="mb-8 lg:mb-12 last:mb-0">
            <h2 className="text-xl xl:text-2xl xl:leading-7 font-semibold mb-2 lg:mb-4">
                Diritti sulla privacy CCPA
            </h2>
            <div className="font-sans leading-7">
                <p>
                    Under the CCPA, among other rights, consumers have
                    the right to: Request that a business that collects a consumer's
                    personal data disclose the categories and specific pieces of
                    personal data that a business has collected about consumers.
                    Request that a business delete all personal data about
                    a consumer that a business has collected. Request that a business
                    that sells a consumer's personal data, does not sell the consumer's
                    personal data. If you make a request, we have one month to
                    respond to you. If you would like to exercise any of these
                    rights, please contact us.
                </p>
            </div>
        </div>
        <div className="mb-8 lg:mb-12 last:mb-0">
            <h2 className="text-xl xl:text-2xl xl:leading-7 font-semibold mb-2 lg:mb-4">
                Information about children
            </h2>
            <div className="font-sans leading-7">
                <p>
                    Another part of our priority is to add protection for children
                    while using the Internet. We encourage parents and guardians to
                    observe, participate in and/or monitor and guide their online
                    activity.Request that a business delete any personal data about
                    the consumer that a business has collected. If you make a
                    request, we have one month to respond. If you would like
                    to exercise any of these rights, please contact us.
                    </p>
                    <p>
                    LizieStyle does not knowingly collect any Personal
                    Identifiable Information from children under the age of 13. If
                    you believe that your child has provided this kind of information
                    our website, we strongly encourage you to contact us immediately
                    and we will do our best to promptly remove such
                    information from our records.
                    </p>
            </div>
        </div>

        *** For support regarding your account, subscriptions, orders and purchases, product repairs and more, please <span style="color: blue;">Contact Us</span> via <a
            href="mailto:support@liziestyle.com" aria-label="email us on any assistance">SUPPORT@LIZIESTYLE.COM</a> ***
    </div>
</div>