<div className="min-h-screen container mx-auto px-4 my-6">
    <div className="bg-white my-12">
        <div className="mb-8 lg:mb-12 last:mb-0">
            <h2 className="text-xl xl:text-2xl xl:leading-7 font-semibold mb-2 lg:mb-4">
                Terms and Conditions [Last Updated: January 5, 2025]
            </h2>
            <div className="font-sans leading-7">
                <p>
                    These terms and conditions outline the rules and regulations for
                    the use of our website. By accessing this
                    website we assume you accept these terms and conditions. Do not
                    continue to use <span style="color: blue;">LizieStyle</span> if you do not agree to take
                    all of the terms and conditions stated on this page.
                </p>
                <p>
                    The following terminology applies to these Terms and Conditions,
                    Privacy Policy, Disclaimer Notice and all Agreements:
                    "Client", "You" and "Your" refers to you, the person log on this
                    website and compliant with the Company's terms and conditions.
                    "The Company", "Ourselves", "We", "Our" and "Us", refers to our
                    Company. "Party", "Parties", or "We" refers to both the
                    Client and ourselves. All terms refer to the offer, acceptance and
                    consideration of payment necessary to undertake the process of
                    our assistance to the Client in the most appropriate manner
                    for the express purpose of meeting the Client's needs in respect of
                    provision of the services set out by the Company, in accordance with
                    and subject to, prevailing law of Italy. Any use of the above terminology or other words in the
                    singular, plural, capitalization and/or he/she or they are taken as interchangeable and therefore as
                    referring to the same.
                </p>
            </div>
        </div>
        <div className="mb-6 lg:mb-12 last:mb-0">
            <h2 className="text-xl xl:text-2xl xl:leading-7 font-semibold mb-2 lg:mb-4">
                Cookies
            </h2>
            <div className="font-sans leading-7">
                <p>
                    We use cookies. By accessing liziestyle,
                    you have agreed to use cookies in accordance with our
                    Privacy Policy. Most interactive websites use cookies
                    to enable us to retrieve user details for each visit. Cookies
                    are used by our website to enable the functionality of some
                    areas to make it easier for people to visit our website. Some of
                    our affiliate/advertising partners may also use cookies.
                </p>
            </div>
        </div>
        <div className="mb-8 lg:mb-12 last:mb-0">
            <h2 className="text-xl xl:text-2xl xl:leading-7 font-semibold mb-2 lg:mb-4">
                License
            </h2>
            <div className="font-sans leading-7">
                <p>
                    Unless otherwise stated, <span style="color: blue;">LIZIESTYLE</span> and/or its licensors own the
                    intellectual property rights in all material on our website. All rights are reserved. Products
                    displayed on the website are from our partners' catalogues and are made available for viewing and
                    accessibility.

                    You may access LIZIESTYLE content for your own personal use, subject to the
                    restrictions set out in these Terms and Conditions.

                    This Agreement is effective from the date indicated above. These Terms and
                    Conditions are subject to change and we will notify prospective customers of any
                    updates. Thank you for your cooperation.
                </p>
                <ul>
                    <strong className="mb-2">Prohibited Activities - You Must Not:</strong>
                    <br />
                    <bold style="color: red;">Collect or use the following types of information without explicit
                        authorization:</bold>
                    <li>
                        1. Identifiers (e.g., name, postal address, email address,
                        telephone number, credit/debit card number)
                    </li>
                    <li>
                        2. Characteristics of protected classifications (e.g., gender,
                        age)
                    </li>
                    <li>
                        3. Commercial information (e.g., products or services
                        purchased, purchase history)
                    </li>
                    <li>
                        4. Internet or other electronic network activity (e.g., browsing
                        or search history)
                    </li>
                    <li> 5. Geographic location data (e.g., latitude or longitude)
                    </li>
                    <li>
                        6. Audio, electronic, visual or similar information (e.g.,
                        recording of Guest service calls)
                    </li>
                    <li>
                        7. Inferences drawn from the above (e.g., preferences or
                        characteristics)
                    </li>
                    <br>
                    <br>
                    <span style="color: red;">
                        Failure to comply with these terms may result in suspension or termination of access to our
                        website and services.
                    </span>
                </ul>
                <p>
                    Parts of this website offer users the opportunity to post and
                    exchange opinions and information in certain areas of the
                    website. LizieStyle does not filter, edit, publish or
                    review Comments prior to their presence on the website. Comments
                    do not reflect the views and opinions of our website, its
                    agents and/or affiliates. Comments reflect the views and
                    opinions of the person who posts their views and opinions. To
                    the extent permitted by applicable laws, liziestyle will not
                    be responsible for the Comments or for any liability, damages or
                    expenses caused and/or suffered as a result of any use of and/or
                    publication and/or appearance of Comments on this website.
                </p>

                <bold style="color: blue;">
                    Non utilizziamo le tue informazioni senza il tuo previo consenso. Quando tu
                    fornirci l'accesso alle tue informazioni di Google, vengono utilizzate esclusivamente per creare
                    account e gestirli
                    accessi. Non modifichiamo, modifichiamo o alteriamo i tuoi dati in alcun modo.
                </bold>
            </div>
            <div className="my-6 lg:my-8 last:mb-0">
                <h2 className="text-xl xl:text-2xl xl:leading-7 font-semibold mb-2 lg:mb-4">
                    Liability for content
                </h2>
                <div className="font-sans leading-7">
                    <p>
                        We will not be held responsible for any content displayed
                        on this website. You agree to protect and defend us from
                        all claims that are emerging on this website. No link should
                        be opened on our website that may be interpreted as offensive,
                        obscene or criminal, or which infringes, otherwise violates,
                        or advocates the infringement or other violation of, any third
                        party's rights. Without prior approval and written permission,
                        you may not create frames around our Web pages that alter in any way the visual presentation or
                        appearance of our website.
                    </p>
                </div>
            </div>
            <div className="my-6 lg:my-8 last:mb-0">
                <h2 className="text-xl xl:text-2xl xl:leading-7 font-semibold mb-2 lg:mb-4">
                    Your privacy
                </h2>
                <div className="font-sans leading-7">
                    <p>
                        Please read
                        <a href="/policy" aria-label="find our privacy policy here" className="text-main"
                            style="font-weight: 500;">
                            privacy policy
                        </a>
                    </p>
                </div>
            </div>
            <div className="my-6 lg:my-8 last:mb-0">
                <h2 className="text-xl xl:text-2xl xl:leading-7 font-semibold mb-2 lg:mb-4">
                    Reservation of rights
                </h2>
                <div className="font-sans leading-7">
                    <p>
                        We reserve the right to request that you remove all links or
                        any particular link to our Web site. You approve it immediately
                        remove all links to our Web site upon request. We also reserve
                        the right to amen these terms and conditions and its linking
                        policy at any time. By continuously linking to our Web site,
                        you agree to be bound to and follow these linking terms and
                        conditions.
                    </p>
                </div>
            </div>
            <div className="my-6 lg:my-8 last:mb-0">
                <h2 className="text-xl xl:text-2xl xl:leading-7 font-semibold mb-2 lg:mb-4">
                    Removal of links from our website
                </h2>
                <div className="font-sansleading-7">
                    <p>
                        If you find any link on our website that is offensive to any
                        reason, you are free not to open it. We
                        will consider requests to remove links but are not
                        obligated to do so or to respond to you directly. We try
                        we ensure that the information on this website is correct, we do not
                        warrant that it is complete or accurate; nor do we promise
                        that the website remains available or that the material on the website is kept up to date.
                    </p>
                </div>
            </div>
            <div className="my-6 lg:my-8 last:mb-0">
                <h2 className="text-xl xl:text-2xl xl:leading-7 font-semibold mb-2 lg:mb-4">
                    Disclaimer
                </h2>
                <div className="font-sansleading-7">
                    <p>
                        To the maximum extent permitted by applicable law, we exclude
                        all representations, warranties and conditions relating to our
                        website and the use of this website. Nothing in this
                        disclaimer:
                    </p>
                    <ul>
                        <li>
                            1. limit or exclude your liability for death or
                            personal injury;
                        </li>
                        <li>
                            2. limit or exclude liability for fraud or
                            fraudulent misrepresentation;
                        </li>
                        <li>
                            3. limit any of your liabilities in any way
                            that is not permitted by applicable law; OR
                        </li>
                        <li>
                            4. exclude any of your liabilities that may not be
                            excluded under applicable law.
                        </li>
                    </ul>
                    <p>
                        The limitations and prohibitions of liability set out in
                        Section and elsewhere in this disclaimer: (a) are subject to
                        the preceding paragraph; and (b) govern all liabilities
                        arising under the disclaimer, including liabilities arising in
                        contract and for breach of statutory duty. As long as
                        the website and the information and services on the website
                        are provided free of charge, we will not be liable to you for any
                        loss or damage of any nature.
                    </p>
                </div>
            </div>

            <div className="my-6 lg:my-8 last:mb-0">
                <h2 className="text-xl xl:text-2xl xl:leading-7 font-semibold mb-2 lg:mb-4">
                    Termination of use
                </h2>
                <div className="font-sans leading-7">
                    <p>

                        We may, in our sole discretion, terminate your account or your use of liziestyle
                        A
                        Properties at any time. You are personally responsible for any orders placed or charges incurred
                        prior to termination. We may change, suspend, or discontinue all or any aspect of any liziestyle
                        Property at any time without notice.
                    </p>
                </div>
            </div>
            *** For support regarding your account, subscriptions, orders and purchases, product repairs and more,
            please <span style="color: blue;">Contact Us</span> via <a href="mailto:support@liziestyle.com"
                aria-label="email support for assistance">SUPPORT@LIZIESTYLE.COM</a> ***
        </div>
    </div>
</div>